@use '../../sass/settings/variables' as *;
@use '../../sass/settings/mixins' as *;

.aviatrix-block--page-header {
    padding-top: $header-height-desktop;
    margin-bottom: $space-24 !important;
    .page-header__banner {
        &.wp-block-image {
            margin: 0;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            height: 250px;
            object-fit: cover;
            @include media-above('md') {
                height: 350px;
            }
        }
    }
    .page-header__content {
        > * {
        padding-left: $wrapper-padding !important;
            padding-right: $wrapper-padding !important;
        }
        > :where(:not(.aviatrix-block):not(.has-global-padding)):last-child {
            margin-bottom: 0;
        }
    }
    + .has-background {
        margin-top: $space-64;
    }
}
