@use '../../sass/settings/variables' as *;
@use '../../sass/settings/mixins' as *;

.blog-featured {
    &__columns {
        padding: $space-32;

        @include media-above('md') {
            padding: $space-48;
            align-items: center !important;
        }
    }

    &__image {
        .wp-block-image {
            margin: 0;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &__content {

    }
}
