@use '../../sass/settings/variables' as *;
@use '../../sass/settings/mixins' as *;

.aviatrix-block--accordion {
    &.has-background {
        padding: $space-64 0;
    }
    .accordion__items {
        display: flex;
        flex-direction: column;
        gap: $space-16;
    }

    .wp-block-details {
        background: $brand-white;
        padding: 12px $space-24;
        margin: 0;
        border: 1px solid $brand-red;
        summary {
            font-weight: $base-font-heading-weight;
            font-size: $text-20;
            cursor: pointer;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $space-16;

            @include media-above('lg') {
                font-size: $text-24;
            }

            &::-webkit-details-marker {
                display: none;
            }

            &::marker {
                content: '';
            }

            .accordion__chevron {
                flex-shrink: 0;
                color: $brand-black;
            }
        }

        &[open] {
            summary .accordion__chevron {
                transform: rotate(180deg);
            }
        }

        > :not(summary) {
            margin-top: $space-16;
        }
    }
}
