@use '../settings/variables' as *;
@use '../settings/mixins' as *;
@use '../settings/functions' as *;

.editor-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $space-32;
    margin-bottom: $space-16;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  p,
  ol,
  ul, 
  blockquote {
    margin-bottom: $space-16;
    &:last-child {
      margin-bottom: 0;
    }
    @include media-above('lg') {
      margin-bottom: $space-24;
    }
  }
  ol,
  ul {
    list-style-position: inside !important;
    li {
      margin-bottom: $space-16;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  blockquote {
    border: 6px solid $brand-black;
    padding: $space-16;
    font-size: $text-16;
    line-height: 0.87;
    letter-spacing: $letter-spacing-sm;
    @include media-above('lg') {
      padding: $space-16 $space-32 $space-48;
      font-size: $text-36;
      margin-left: -36px;
      margin-right: -36px;
    }
  }
}

ol.wp-block-list {
  list-style-type: decimal;
  list-style-position: inside;
}

ul.wp-block-list {
  list-style-type: disc;
  list-style-position: inside;
}

.wp-block-list li {
  margin-bottom: $space-8;

  &:last-child {
    margin-bottom: 0;
  }
}

.wp-block-table td,
.wp-block-table th {
  border-width: 2px;
  border-color: #D9D9D9;
}

.wp-block-columns {
  .wp-block-column.has-background {
    padding: $space-24;
    @include media-above('md') {
      padding: $space-32;
    }
  }
}

.wp-block-separator {
  border-width: 1px;
}

.wp-block-file.is-visible {
  .wp-block-file__button {
    margin-left: 0;
  }
  a:not(.wp-block-file__button) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
    &:active,
    &:focus {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
      white-space: normal;
      clip-path: none;
    }
  }
}

:root :where(.wp-block-columns-is-layout-flex) {
  gap: $space-48;
}

.is-layout-constrained> :where(:not(.aviatrix-block):not(.has-global-padding)) {
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
  &:first-child {
    margin-top: $space-64;
  }
  &:last-child {
    margin-bottom: $space-96;
  }
}

.is-layout-constrained .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.aviatrix-block):not(.has-global-padding)) {
  padding-left: 0;
  padding-right: 0;
}

.aviatrix-block--featured-content + .wp-block-group.has-background {
  margin-top: 0;
}

.is-layout-constrained > .wp-block-group.has-background {
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: $space-64;
  padding-bottom: $space-64;
  &.is-layout-constrained > :where(:not(.aviatrix-block):not(.has-global-padding)):first-child {
    margin-top: 0;
  }
  &.is-layout-constrained > :where(:not(.aviatrix-block):not(.has-global-padding)):last-child {
    margin-bottom: 0;
  }
  > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.aviatrix-block):not(.has-global-padding)) {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
  }
}

.is-layout-constrained> .aviatrix-block {
  max-width: 100% !important;
  margin: 0;
}

.is-layout-constrained > .wp-block-image {
  margin-top: $space-32;
}

.wp-block-image.is-style-rounded img, 
.wp-block-image .is-style-rounded img {
  border-radius: 20px;
}

.aviatrix-block .has-global-padding.has-background> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
}

.aviatrix-block:not(.aviatrix-block--hero):not(.aviatrix-block--page-header) {
  margin-top: $space-64;
  &:last-child {
    margin-bottom: $space-96; 
  }
  &.has-background {
    padding: $space-64 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.aviatrix-block.has-background + .aviatrix-block.has-background {
  margin-top: 0 !important;
}

.aviatrix-block + .wp-block-group.has-background {
  margin-top: $space-64;
}

.main > .is-layout-constrained {
  > .has-background {
    + .has-background {
      margin-top: 0 !important;
    }
  }
  > .wp-block-group {
    .wp-block-heading {
      margin-top: $space-32; 
      margin-bottom: $space-24;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .wp-block-columns {
      h3.wp-block-heading {
        margin-bottom: 0;
        font-size: $text-18;
        + p {
          margin-top: 0;
        }
        @include media-above('lg') {
          font-size: $text-16;
        }
      }
    }
  }
}