@use '../settings/variables' as *;
@use '../settings/mixins' as *;
@use '../settings/functions' as *;

.nav--main {
  display: flex;
  align-items: center;
  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > .menu-item {
      margin-right: $space-16;
      padding: $space-16 0;
      border: 1px solid transparent;
      line-height: 1;
      @include media-above('xxl') {
        margin-right: $space-8;
        padding: $space-16 $space-8;
      }
      @include media-above('xxxl') {
        margin-right: $space-24;
        padding: $space-16;
      }
      &:last-child {
        margin-right: 0;
      }
      > a {
        transition: $link-transition;
        color: $brand-white;
        font-weight: 600;
      }

      &.current-menu-item,
      &.current-menu-ancestor,
      &:has(a:hover),
      &:focus-within {
        border-bottom-color: $brand-red;
      }

      &.menu-item-has-children {
        position: static;
        display: flex;
        align-items: center;
        gap: $space-8;
        &:after {
          content: '';
          width: 13px;
          height: 8px;
          display: block;
          background-image: url('@img/caret-down-white.svg');
          transition: $link-transition;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
        }
        &:hover,
        &:focus-within {
          border-bottom-color: $brand-red;
          &:after {
            transform: rotate(180deg);
          }
          > .sub-menu {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
          }
        }
      }

      > .sub-menu {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 82px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: $space-8 $space-48;
        padding: $space-16 $wrapper-padding;
        background-color: $brand-white;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        transition: $link-transition;
        z-index: 101;

        &::before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          height: 30px;
        }
        .menu-item {
          a {
            color: $brand-black;
            transition: $link-transition;
            font-weight: 600;
            display: inline-block;
          }
        }
        > .menu-item {
          > a {
            padding: $space-16;
            border: 1px solid transparent;
            &:hover,
            &:focus {
              border-bottom-color: $brand-red;
              background-color: $brand-very-light-grey;
            }
          }
        }
        .sub-menu {
          a {
            text-decoration: underline;
            text-decoration-color: transparent;
            padding: 17px;
            &:hover,
            &:focus {
              text-decoration-color: inherit;
              color: $brand-red;
            }
          }
        }
        &.toggled-on {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
        }
      }
    }
  }
}

.nav__search-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: $brand-white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $link-transition;
  flex-shrink: 0;
  height: 44px;
  width: 44px;
  padding: 0;
  margin-right: $space-8;
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 2px solid $brand-white;
    outline-offset: 2px;
    border-radius: 2px;
  }

  svg {
    display: block;
  }
  @include media-above('xxl') {
    margin-left: $space-32;
    margin-right: $space-32;
  }
}

.nav--mobile {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 50;
  transform: translateX(150%);
  transition: $link-transition;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: $brand-very-light-grey;
  .admin-bar & {
    top: 46px;
  }
  .button {
    margin-left: $space-24;
    margin-bottom: $space-32;
    &:focus-visible {
      outline-color: $brand-black;
    }
  }
  &.is-active {
    transform: translateY(0);
    pointer-events: all;
    visibility: visible;
  }
  .menu-item {
    a {
      transition: $link-transition;
      color: $brand-black;
      font-weight: 600;
      text-decoration-color: transparent;
    }
  }
  .nav__list {
    padding: 0 $space-24 $space-32;
    flex: 1 1 auto;
    > .menu-item {
      margin-bottom: $space-32;
      &:last-child {
        margin-bottom: 0;
      }
      > a {
        padding: $space-16 0;
        border-bottom: 1px solid transparent;
        &:hover,
        &:focus {
          border-bottom-color: $brand-red;
        }
      }
      &.current-menu-item {
        > a {
          border-bottom-color: $brand-red;
        }
      }
    }
    > .menu-item-has-children {
      > a {
        display: inline-flex;
        align-items: center;
        gap: $space-8;

        &:after {
          content: '';
          width: 13px;
          height: 8px;
          display: block;
          background-image: url('@img/caret-down.svg');
          transition: $link-transition;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
        }
      }
      &.menu-item--active > a {
        border-bottom-color: $brand-red;
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
  .sub-menu {
    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      &:hover,
      &:focus {
        text-decoration-color: inherit;
      }
    }
    .current-menu-item {
      > a {
        text-decoration-color: $brand-red;
      }
    }
    > .menu-item {
      padding: $space-16;
      margin-bottom: $space-16;
      &:first-child {
        margin-top: $space-8;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &[hidden] {
      display: none;
    }
    .sub-menu {
      .menu-item {
        padding-bottom: 0;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: $space-32;
    height: 100%;
  }
  &__main {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__search {
    padding: $space-32 $space-24 $space-48;
    background-color: #E7E4E4;
    text-align: center;
    p {
      font-weight: 500;
      margin-bottom: $space-24;
    }
  }

  &__search-field {
    display: flex;
    align-items: center;
    background-color: $brand-white;
    border: 1px solid $brand-black;
    border-radius: 100px;

    input[type="search"] {
      flex: 1;
      border: none;
      background: none;
      padding: 12px $space-24;
      font-family: $base-font;
      font-size: $text-16;
      color: $brand-black;
      min-width: 0;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;

      &:focus-visible {
        outline-color: $brand-light-grey !important;
      }
    }

    button {
      flex-shrink: 0;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      border: none;
      background-color: $brand-red;
      color: $brand-white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $link-transition;
      padding: 0;

      svg {
        path {
          fill: $brand-black;
        }
      }

      &:hover,
      &:focus {
        background-color: $brand-accessible-red;
      }

      &:focus-visible {
        outline: 2px solid $brand-black;
        outline-offset: 2px;
      }
    }
  }

  @include media-above("xl") {
    display: none;
  }
}

.nav--social {
  ul {
    display: flex;
    gap: $space-8;
    align-items: center;
    justify-content: center;
    @include media-above('md') {
      justify-content: flex-start;
    }
  }
  a {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;  
    justify-content: center;
    border-radius: 100%;
    background-color: $brand-red;
    transition: $link-transition;
    img {
      display: block;
      height: 27px;
      max-width: 25px;
      width: auto;
    }
    &:hover,
    &:focus {
      background-color: $brand-dark-grey-tone;
    }
  }
}