@use '../settings/variables' as *;
@use '../settings/mixins' as *;

.single-post{
    &__header {
        margin-top: $header-height-desktop;
        text-align: center;
        background-color: $brand-black;
        padding: $space-64 0;
        .h1 {
            color: $brand-white;
            margin-bottom: $space-24;
        }
        img {
            width: 320px;
            max-width: 100%;
            margin: 0 auto -10px;
            display: block;
        }
    }
    &__main {
        padding: $space-64 0 $space-128;
    }
    &__date {
        text-transform: uppercase;
        font-weight: 500;
    }
    &__categories {
        margin-top: $space-16;
        @include media-above('md') {
            margin-top: 0;
        }
    }
    &__category {
        text-transform: uppercase;
        font-size: $text-14;
        font-weight: 500;
        color: $brand-white;
        background-color: $brand-dark-grey-tone;
        border-radius: 20px;
        padding: 8px 12px;
        margin-right: $space-4;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
    &__meta {
        &-top {
            margin-bottom: $space-32;
            @include media-above('md') {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $space-32;
            }
        }
    }
    &__title {
        margin-bottom: $space-32;
    }
    &__featured-image {
        margin-bottom: $space-32;
        img {
            width: 100%;
            display: block;
            height: auto;
        }
    }
    &__back {
        margin-top: $space-32;
        display: inline-block;
        transition: $base-transition;
        font-size: $text-18;
        color: $brand-black;
        font-weight: 500;
        svg {
            margin-right: $space-8;
        }
        span {
            text-decoration: underline;
            transition: $base-transition;
        }
        &:hover,
        &:focus {
            span {
                text-decoration-color: transparent;
            }
        }
    }
    &__article {
        @include media-above('lg') {
            flex: 1 1 auto;
        }
    }
    &__sidebar {
        margin-top: $space-64;
        @include media-above('lg') {
            margin-top: 0;
            padding: $space-48;
            min-width: 400px;
        }
        &-box {
            border: 1px solid $brand-black;
            background-color: $brand-white;
            padding: $space-16 $space-24;
            margin-bottom: $space-16;
            h3 {
                font-weight: 700;
                font-size: $text-16;
            }
            strong {
                font-weight: 600;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &--media {
                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                    padding-top: $space-4;
                    svg {
                        margin-right: 10px;
                        margin-top: -1px;
                    }
                }
            }
            &--events {
                padding: $space-24 $space-16;
                h3 {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        text-decoration-color: transparent !important;
                        &:hover,
                        &:focus {
                            text-decoration-color: inherit !important;
                        }
                    }
                }
            }
            &--social {
                padding: $space-24;
                text-align: center;
                h3 {
                    margin-bottom: 10px;
                }
                .nav--social ul {
                    justify-content: center;
                }
            }
        }
    }
    &__main-inner {
        @include media-above('lg') {
            display: flex;
            gap: $space-24;
        }
    } 
}