@use '../settings/variables' as *;
@use '../settings/mixins' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-heading;
  font-size: $base-font-size;
  font-weight: $base-font-heading-weight;
  margin: 0;
  padding: 0;
}

h1,
.h1,
.heading-xl {
  font-size: $mobile-h1;
  line-height: 1.21em;
  font-weight: 300;
  @include media-above("lg") {
    font-size: $h1;
  }
}

h2,
.h2,
.heading-lg {
  font-size: $mobile-h2;
  font-weight: 300;
  line-height: 1.25em;
  @include media-above("lg") {
    font-size: $h2;
  }
}

h3,
.h3,
.heading-md {
  font-size: $mobile-h3;
  font-weight: 500;
  line-height: 1.33em;
  @include media-above("lg") {
    font-size: $h3;
  }
}

h4,
.h4 {
  font-size: $mobile-h4;
  font-weight: 500;
  line-height: 1.4em;
  @include media-above("lg") {
    font-size: $h4;
  }
}

.heading-sm {
  font-size: $text-16;
  font-weight: 500;
  line-height: 1.4em;
}

h5,
.h5,
.heading-xs,
h6,
.h6 {
  font-size: $mobile-h5;
  line-height: 1.4em;
  @include media-above("lg") {
    font-size: $h5;
  }
}

.heading--uppercase {
  font-family: $base-font-heading;
  font-weight: $base-font-heading-weight;
  text-transform: uppercase;
}

.text--large {
  font-size: $p-lg;
  line-height: 1.5em;
}

// Responsive overrides for editor font size picker (theme.json)
.has-h-1-font-size {
  font-size: $mobile-h1 !important;
  @include media-above("lg") {
    font-size: $h1 !important;
  }
}

.has-h-2-font-size {
  font-size: $mobile-h2 !important;
  @include media-above("lg") {
    font-size: $h2 !important;
  }
}

.has-h-3-font-size {
  font-size: $mobile-h3 !important;
  font-weight: 500;
  @include media-above("lg") {
    font-size: $h3 !important;
  }
}

.has-h-4-font-size {
  font-size: $mobile-h4 !important;
  font-weight: 500;
  margin-top: $space-24;
  @include media-above("lg") {
    font-size: $h4 !important;
    margin-top: $space-32;
  }
}

.has-h-5-font-size {
  font-weight: 500;
}

p.has-large-font-size,
ul.has-large-font-size,
ol.has-large-font-size { 
  strong {
    font-weight: 500;
  }
}

p.has-x-large-font-size,
ul.has-x-large-font-size,
ol.has-x-large-font-size {
  line-height: $line-height-md;
  strong {
    font-weight: 500;
  }
  @include media-below("lg") {
    font-size: $text-20 !important;
  }
}