@use '../settings/variables' as *;
@use '../settings/mixins' as *;
@use '../settings/functions' as *;

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
  width: 100%;
  max-width: get-breakpoint("horizontal", "xxl");
  @include clearfix;
}

.wrapper--full {
  width: 100%;
  max-width: none;
}

.wrapper--xl {
  max-width: get-breakpoint("horizontal", "xxxl");
}

.wrapper--md {
  max-width: get-breakpoint("horizontal", "xl");
}

.wrapper--sm {
  max-width: 930px;
}
