@use '../../sass/settings/variables' as *;
@use '../../sass/settings/mixins' as *;

$hero-content-size: 1240px; // mirrors theme.json layout.contentSize
$hero-root-padding: 20px;   // mirrors theme.json styles.spacing.padding

.aviatrix-block--hero {
    position: relative;
    overflow: hidden;
    .wp-block-columns {
        gap: 0 !important;
        margin-bottom: 0;
        flex-wrap: nowrap;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        @include media-above("md") {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }
}

.aviatrix-block--hero.is-style-content-right {
    background-color: var(--wp--preset--color--bg-gray);
    position: relative;
    .hero__media.wp-block-column .wp-block-image {
        img {
            object-position: 15% 50%;
        }
        @include media-above('md') {
            position: initial;
        }
    }
    .wp-block-columns {
        @include media-above("md") {
            flex-direction: row-reverse;
        }
    }

    .hero__content.wp-block-column {
        background-color: transparent !important;

        h1, h2, p:not(.hero__eyebrow) {
            color: $brand-black !important;
        }

        @include media-above("md") {
            padding-right: max(#{$hero-root-padding}, calc((100vw - #{$hero-content-size}) / 2)) !important;
            padding-left: 0 !important;
            flex-basis: 50% !important;
        }
    }

    .hero__deco {
        display: none !important;
    }
    .hero__content.wp-block-column {
        position: relative;
        z-index: 2;
    }
}

.hero__deco {
    position: absolute;
    z-index: 2;
    &--1 {
        right: 20px;
        bottom: 10px;
        svg {
            width: 50px;
            height: auto;
        }
    }
    &--2,
    &--3 {
        display: none;
    }
    @include media-above('md') {
        &--1 {
            right: -58px;
            bottom: 40px;
            svg {
                width: 116px;
            }
        }
        &--2 {
            display: block;
            bottom: 156px;
            right: 36px;
            svg {
                width: 40px;
                height: auto;
            }
        }
        &--3 {
            display: block;
            right: 85px;
            bottom: 135px;
            svg {
                width: 20px;
                height: auto;
            }
        }
    }
}

.hero__content.wp-block-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    padding-top: $space-80;
    padding-left: $hero-root-padding;
    padding-right: $hero-root-padding;
    padding-bottom: $space-96;
    position: relative;
    p:not(.hero__eyebrow) {
        font-size: $text-16;
        max-width: 300px;
    }
    .wp-block-buttons{
        margin-block-start: $space-64;
    }
    @include media-above("md") {
        flex-basis: 43% !important;
        padding-left: max(#{$hero-root-padding}, calc((100vw - #{$hero-content-size}) / 2));
        padding-right: clamp(#{$space-16}, 4vw, #{$space-64});
        p:not(.hero__eyebrow){
            font-size: $text-36;
        }
        .hero--home & {
            flex-basis: 50% !important;
        }
    }
}

.hero__media.wp-block-column {
    padding: 0;
    .wp-block-image {
        height: 100%;
        min-height: 350px;
        position: relative;
        figure {
            height: 100%;
            margin: 0;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    @include media-above('md') {
        .wp-block-image {
            min-height: 505px;
        }
    }
}

.hero__eyebrow {
    align-items: center;
    gap: 8px;
    padding: 10px 15px !important;
    font-size: $text-14;
    font-weight: 600;
    letter-spacing: $letter-spacing-md;
    border-radius: $border-radius-xl;
    display: inline-flex;
    + h1 {
        margin-block-start: $space-32;
    }
    .hero__eyebrow-icon {
        flex-shrink: 0;
    }
}

.hero--home {
    .hero__media.wp-block-column {
        @include media-above('md') {
            .wp-block-image {
                min-height: 575px;
            }
        }
    }
    .hero__content.wp-block-column {
        p:not(.hero__eyebrow) {
            max-width: 100%;
        }
    }
    .hero__deco {
        @include media-above('md') {
            &--1 {
                right: -16px;
                bottom: 50px;
                svg {
                    width: 150px;
                }
            }
            &--2 {
                display: block;
                bottom: 195px;
                right: 95px;
                svg {
                    width: 50px;
                    height: auto;
                }
            }
            &--3 {
                display: block;
                right: 155px;
                bottom: 170px;
                svg {
                    width: 24px;
                    height: auto;
                }
            }
        }
    }
}
