@use '../../sass/settings/variables' as *;
@use '../../sass/settings/mixins' as *;

.blog-meta {
    &__columns {
        @include media-above('md') {
            display: flex;
            gap: $space-24;
            align-items: center;
        }
    }

    &__image-col {
        @include media-above('md') {
            width: 50%;
        }

        .wp-block-image {
            margin: 0;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &__aside {
        margin-top: $space-32;

        @include media-above('md') {
            margin-top: 0;
            width: 50%;
        }
    }

    &__box {
        border: 1px solid $brand-black;
        background-color: $brand-white;
        padding: $space-16 $space-24;
        margin-bottom: $space-16;

        h3 {
            font-weight: 700;
            font-size: $text-18;
            @include media-above('md') {
                font-size: $text-20;
            }
        }

        strong {
            font-weight: 600;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--media {
            h3 {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                padding-top: $space-4;

                svg {
                    margin-right: 10px;
                    margin-top: -1px;
                }
            }
        }

        &--events {
            padding: $space-24 $space-16;

            h3 a {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration-color: transparent !important;

                &:hover,
                &:focus {
                    text-decoration-color: inherit !important;
                }
            }
        }

        &--social {
            padding: $space-24;
            h3 {
                margin-bottom: 10px;
            }
            .nav--social ul {
                justify-content: flex-start;
            }
            @include media-above('xl') {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3 {
                    margin-bottom: 0;
                }
            }
        }
    }
}
